<ion-grid fixed>
  <ion-row>
          <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let titulada of tituladas; let i=index">
        <app-titulada [titulada]='titulada' [Favoritos]="Favoritos" [indice]="i"></app-titulada>  
        </ion-col>
        </ion-row>
</ion-grid>