<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Tab 1
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-programas [tituladas]="tituladas"></app-programas>
  </ion-content>
