<ion-content>
  <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let titulada of tituladas"></ion-slide>
      <ion-card>
          <img [src]= "tituladas.img">
      </ion-card>
  </ion-slides>
</ion-content>