<ion-header no-border>
  <ion-toolbar >
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-slides [options]="sliderOpts" *ngIf="datalocalService.tituladas.length === 0">
    <ion-slide>
      <ion-label>No se han encontrado favoritos</ion-label>
    </ion-slide>
  </ion-slides>
  <app-programas *ngIf="datalocalService.tituladas.length>0"
     [tituladas]="datalocalService.tituladas" 
     [Favoritos]="true"></app-programas>
</ion-content>
