<ion-card>
  <ion-card-header>

    <ion-card-subtitle>
      <span class="text-primary">{{indice + 1}}.{{Favoritos}}</span>
      <span clas="programa-source-name">{{titulada.description}}  </span>
    </ion-card-subtitle>
    <div>
      <ion-button fill="clear" (click)=menu()>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
      </div> 
      
  </ion-card-header>
  <img [src]="titulada.image">
  <ion-card-content fullscreen>
    {{titulada.description}}
  </ion-card-content>
</ion-card>